body {
    background: linear-gradient(rgb(63, 112, 247),rgb(111, 149, 252),rgb(157, 181, 247)) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slider{
    width: 600px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

#slider img{
    width: 100%;
}
.slide{
    display: none;
    animation: fade 1s;
}
.slide:first-child{
    display: block;
}
.text{
    color: #fff;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}
.prev , .next {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.prev{
    left: 5px;
}
.next{
    right: 5px;
}

#dots{
    text-align: center;
}
.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.active{
    background-color: crimson;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}